---
import { Image } from 'astro:assets';
import myImage from '../images/tamagotchi-color-logo.png';
---

<header>
  <link rel="stylesheet" href="https://use.typekit.net/jxw5osm.css" />
</header>

<nav>
  <img src={myImage.src} class="nav-img" height="88" alt="" />
  <ul class="nav-items img-class">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">Originals</a></li>
    <li class="nav-item"><a href="#">Uni</a></li>
    <li class="nav-item"><a href="#">Connections</a></li>
  </ul>
</nav>

<style>
  .nav-items {
    font-family: 'beelzebrush-bb', sans-serif;
    margin-left: auto;
  }
  .nav-img {
    padding-top: 0.7rem;
  }
  .nav-items,
  li,
  nav {
    background-color: var(--c-bg-color);
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    padding: 0rem 3rem 0rem 3rem;
  }
  nav {
    margin-left: auto;
  }
  a {
    text-decoration: none;
    color: var(--c-text-color);
  }
  .nav-item {
    padding-left: 0rem;
  }
</style>
