---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Filter from '../components/Filter.astro';
import fetchApi from '../lib/strapi';
const categories = await fetchApi({
  endpoint: 'categories',
  wrappedByKey: 'data',
},{}
);

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tamagotchi Collection</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
